
input[type="checkbox"].toggle_checkbox {
    background-image: url("../x_element.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: right 6px center;
    background-color: #14283c;
    border-radius: 25px;
    /*padding-right: 25px;*/
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    width: 45px;
    -webkit-appearance: none;
    /*-webkit-transition: .25s;*/
    transition: padding 0.35s;
}
input[type="checkbox"].toggle_checkbox:after {
/*    border: 2px solid;
    border-color: #14283c;*/

    background-color: #ffd400 ;
    border-radius: 25px;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: relative;
    top: 0;
    width: 20px;
    transition: background-color 0.35s;
}
input[type="checkbox"]:checked.toggle_checkbox:after {
    background-color: #35506b ;
    transition: background-color 0.35s;

}
input[type="checkbox"].toggle_checkbox:checked {
    background-image: none;
    background-position: 0 0, 35px 0;
    padding-left: 21px;
    padding-right: 0;
}
input[type="checkbox"].toggle_checkbox:checked:before {
    background-image: url("../x_element.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #14283c;
}
