
.custom-toggle > input[type="checkbox"]{
  display: none;  
}
/*switch background styling*/
.custom-toggle > label {
	display: inline-block;
	height: 22px;
	width: 38px;
 	padding: 2px 3px;
 	border-radius: 16px 16px;

	background-color: #14283c;
	background-image: url("../x_element.png");
	background-repeat: no-repeat;
    background-size: 20%;
    background-position: right 6px center;

 }

/*switch circle styling*/
.custom-toggle > label > span.circle {
	display: inline-block;
	position: relative;
	margin-top: 2px;
	height: 6px;
	width: 6px;
 	border-radius: 9px;
	background-color: #ffd400;
	padding: 6px;
	left: 0px;
	transition: background-color 0.35s linear,
				left 0.35s linear;
}
.custom-toggle > input[type="checkbox"]:checked ~ label > span.circle {
	background-color: #35506b;
	left: 18px;
}
