$toggle-background-color: #14283c;
$toggle-handle-color: #ffd400;
$toggle-handle-checked-color: #35506b;
$transition-length: 0.35s;

$circle-size: 6px;
$circle-spacing-sides: 3px;
$width: 40px;


.custom-toggle {

	input[type="checkbox"]{
	  display: none;  
	}

	label {
		display: inline-block;
		height: 22px;
		width: $width;
	 	padding: 2px 0px;
	 	border-radius: 16px 16px;

		background-color: $toggle-background-color;
		background-image: url("../x_element.png");
		background-repeat: no-repeat;
	    background-size: 11px;
	    background-position: right 6px center;

	    span.circle {
			display: inline-block;
			position: relative;
			margin-top: 2px;
			height: $circle-size;
			width: $circle-size;
			padding: $circle-size;
		 	border-radius: $circle-size*1.5;
			background-color: $toggle-handle-color;
			left: $circle-spacing-sides;
			transition: background-color $transition-length linear,
						left $transition-length linear;
		}
	}

	input[type="checkbox"]:checked + label 
	{
		span.circle {
		background-color: $toggle-handle-checked-color;
		left: $width - 3*$circle-size - $circle-spacing-sides;
		}
	}

}